/* font-family: 'Diphylleia', serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');
/* @font-face {
  font-family: 
    font-family: 'GoryeongStrawberry';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/GoryeongStrawberry.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
};
  src: url();
} */
.font-link{
  font-family: 'Bagel Fat One', cursive;}

.font-import{
  font-family: 'Bagel Fat One', cursive;
}

.noonnu-font{
  font-family: 'GoryeongStrawberry',serif;
}

.container{
  width: 500px;
  background-color: aliceblue;
}

.sentences{
  font-weight: 400;
  font-size: 1em;

  text-align: center;
  text-decoration: underline;
  text-decoration: overline;
  
}

a {
  text-decoration: none;
  color: black;
}